* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  padding: 0 1.5rem;
}
.goods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1.5rem 0;
  flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex-grow: 1;
}
.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 5;
}
@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}
